
<div class="container">
  <h5 class= "toptext text-center">商品</h5>
  <div class="row">
    <div class="col-lg-3">
      <%= attachment_image_tag @item, :image, :fill, 200, 150, format: 'jpeg', fallback: "no_image.jpg", size: "200x150" %><br>
    </div>
    <div class="col-lg-7">

	  <div class="row form-group">
　    <legend class="col-sm-3 col-form-label">商品名</legend>
      <div class="col-sm-3">
        <legend class="form-control-plaintext"><%= @item.name %></legend>
      </div>
    </div>

    <div class="row form-group">
　    <legend class="col-sm-3 col-form-label">商品説明</legend>
      <div class="col-sm-3">
        <legend class="form-control-plaintext"><%= @item.introduction %></legend>
      </div>
    </div>

    <div class="row form-group">
　    <legend class="col-sm-3 col-form-label">ジャンル</legend>
      <div class="col-sm-3">
        <legend class="form-control-plaintext"><%= @item.genre.name%></legend>
      </div>
    </div>

    <div class="row form-group">
　    <legend class="col-sm-3 col-form-label">税込価格</legend>
      <div class="col-sm-3">
        <legend class="form-control-plaintext"><%= @item.price %></legend>
      </div>
    </div>

    <div class="row form-group">
　    <legend class="col-sm-3 col-form-label">販売ステータス</legend>
      <div class="col-sm-3">
        <legend class="form-control-plaintext">
        	<% if @item.sale_status %>
            <span class="text-success">販売中</span>
          <% else %>
            <span class="text-muted">販売停止中</span>
           <% end %>
        </legend>
      </div>
    </div>

      <%= link_to "編集する", edit_admin_item_path(@item.id), method: :get, class: "btn btn-success col-sm-3 offset-sm-2"%>
    </div>
 </div>
</div>

