<div class="container">
 <h5 class= "toptext text-center">All Customers</h5>
 <div class="row">
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>会員ID</th>
              <th>⽒名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= customer.last_name %> <%= customer.first_name %></td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_deleted %>
                <span>退会</span>
                <% else %>
                <span>有効</span>
                <% end %>
              </td>
              <td>
                <%= link_to '編集', edit_admin_customer_path(customer.id),{class:'btn btn-danger'} %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>


<%= paginate @customers %>
