<h1 class="lead">All Customers</h1>

<table class="table table-bordered w-75">
  <thead class="thead-light">
    <tr>
      <th>会員ID</th>
      <th>⽒名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th></th>
    </tr>
  </thead>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.last_name %> <%= customer.first_name %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted %>
        <span>退会</span>
        <% else %>
        <span>有効</span>
        <% end %>
      </td>
      <td>
        <%= link_to '編集', edit_admin_customer_path(customer.id),{class:'btn btn-danger'} %>
      </td>
    </tr>
  <% end %>
  </tr>
</table>

<%= paginate @customers %>
      