<h1>注文履歴一覧</h1>
<table class="table table-bordered w-75">
  <thead class="thead-light">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文商品</th>
      <th>注文ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>

  <%
    @orders.each do |order|
    name = eval("@name#{order.id}")
  %>

  <tr>
    <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
    <td><%= order.name %></td>
    <td><%= simple_format name %></td>
    <td><%= I18n.t("enums.order.order_status.#{order.status}") %></td>
    <td><%= link_to '表示する', admin_order_path(order.id) %></td>

  </tr>
  <% end %>

</table>
<%= paginate @orders %>