<h2>注文情報入力</h2>

  <strong>支払い方法</strong>

  <%= form_with model: @order, url: orders_path, local: true do |f| %>
    <%= f.radio_button :payment_way, :"クレジットカード", checked: true %>
    <span>クレジットカード</span>
    <br>
    <%= f.radio_button :payment_way, :"銀行振り込み" %>
    <span>銀行振込</span>
    <br>
   
  <strong>お届け先</strong>
    <br>
    <%= f.radio_button :address, :"ご自身の住所", checked: true %>
     <span>ご自身の住所
      <br>
      〒<%= current_customer.postal_code %>
      <%= current_customer.address %>
      <br>
      <%= current_customer.last_name %>
      <%= current_customer.first_name %>
      <br></span>
    
    <%= f.radio_button :address, :"登録済住所から選択" %>
    <span>登録済住所から選択
      <% @addresses.each do |address| %>
      <% end %>
    </span>
    <br>
    <%= f.radio_button :address, :"新しいお届け先" %>
    <span>新しいお届け先</span>
      <p>郵便番号(ハイフンなし)</p>
      <%= f.text_field :postal_code %>
      <p>住所</p>
      <%= f.text_area :address %>
      <p>宛名</p>
      <%= f.text_field :name %>
    <br><br>
    <%= link_to "確認画面へ進む", confirm_path, class:"btn btn-lg btn-primary" %>

  <% end %>