<h2>注文情報入力</h2>

<p>支払い方法</p>

<%= form_with model: @order, local: true do |f| %>

  <%= f.radio_button :payment_way, :male %>
  <%= f.label :payment_way, "クレジットカード", {value: :male, style: "display: inline-block;"} %>
  <br>
  <%= f.radio_button :payment_way, :female %>
  <%= f.label :payment_way, "銀行振込", {value: :female, style: "display: inline-block;"} %>
<% end %>

<p>お届け先</p>

