<%=  attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg", size: "300x300" %>

  <h3><%= @item.name%></h3>
  <%= @item.introduction%>
  <h4><%= @item.price %></h4>
  <a>(税込)</a>


<%= form_with url: cart_items_path, local:true do |f| %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <div class='form-group'>
    <%= f.select :amount, [1,2,3,4,5,6,7,8,9] %>
　</div>

  <%= f.submit "カートに入れる" %>
<% end %>